<footer class="footer">
  Copyright@2020 {{ site.copyright }}
</footer>


<script type="text/javascript" src="{{ site.baseurl }}{{ site.assets.js }}jquery.min.js?{{ site.version }}"></script>
<script type="text/javascript" src="{{ site.baseurl }}{{ site.assets.js }}common.js?{{ site.version }}"></script>
<!-- Google Analytics -->
{% if site.analytics.google_track_id %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google_track_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.analytics.google_track_id }}');
</script>
{% endif %}