@import "base";

html, body {
  min-width: 320px;
  ///min-height: 960px;
}

/********* color *****************/
.theme-color {
  color: $theme-color-base;
}
.white-color {
  color: #fff;
}
.black-color {
  color: #000;
}

.theme-bg-color {
  background-color: #fff;
}
.white-bg-color {
  background-color: #fff;
}
.black-bg-color {
  background-color: #000;
}

.box-sizing {
  box-sizing: border-box;
}
.hoverhands {
  cursor: pointer;
}

.one-line {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.lkh-clear {
  &:after {
    content: '';
    clear: both;
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
.g-pos-r { position: relative; z-index: 9;}
.g-pos-a { position: absolute; z-index: 9;}
.g-pos-f { position: fixed; z-index: 9;}
.g-pos-s { position: static; z-index: 9;}

.g-fl-l { float: left;}
.g-fl-r { float: right;}

.g-d-i { display: inline;}
.g-d-ib { display: inline-block;}
.g-d-b { display: block;}
.g-d-n { display: none;}

.g-box-b { box-sizing: border-box;}
.g-box-c { box-sizing: content-box;}

.g-mg-auto {
  margin-left: auto;
  margin-right: auto;
}


.g-w-per { width: $percentage-base;}
.g-h-per { height: $percentage-base;}
.g-col-2 { width: $percentage-base / 2;}
.g-col-3 { width: $percentage-base / 3;}
.g-col-4 { width: $percentage-base / 4;}
.g-col-5 { width: $percentage-base / 5;}
.g-col-6 { width: $percentage-base / 6;}
.g-col-8 { width: $percentage-base / 8;}
.g-col-10 { width: $percentage-base / 10;}

.g-col-2 { height: $percentage-base / 2;}
.g-row-3 { height: $percentage-base / 3;}
.g-row-4 { height: $percentage-base / 4;}
.g-row-5 { height: $percentage-base / 5;}
.g-row-6 { height: $percentage-base / 6;}
.g-row-8 { height: $percentage-base / 8;}
.g-row-10 { width: $percentage-base / 10;}

.g-fs-12 { font-size: $font-size-base * 1.2;}
.g-fs-14 { font-size: $font-size-base * 1.4;}
.g-fs-16 { font-size: $font-size-base * 1.6;}
.g-fs-18 { font-size: $font-size-base * 1.8;}
.g-fs-20 { font-size: $font-size-base * 2;}
.g-fs-22 { font-size: $font-size-base * 2.2;}
.g-fs-24 { font-size: $font-size-base * 2.4;}
.g-fs-26 { font-size: $font-size-base * 2.6;}
.g-fs-28 { font-size: $font-size-base * 2.8;}
.g-fs-30 { font-size: $font-size-base * 3;}
.g-fs-36 { font-size: $font-size-base * 3.6;}

.g-fw-n { font-weight: normal;}
.g-fw-1 { font-weight: 100;}
.g-fw-2 { font-weight: 200;}
.g-fw-3 { font-weight: 300;}
.g-fw-4 { font-weight: 400;}
.g-fw-5 { font-weight: 500;}
.g-fw-6 { font-weight: 600;}
.g-fw-7 { font-weight: 700;}
.g-fw-8 { font-weight: 800;}
.g-fw-9 { font-weight: 900;}
.g-fw-b { font-weight: bold;}

.g-txt-al { text-align: left;}
.g-txt-ac { text-align: center;}
.g-txt-ar { text-align: right;}
.g-txt-i { text-indent: 2em;}

.header {
  position: relative;
  width: 100%;
  height: 540px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-image: url(/assets/images/header-bg.jpg);
  background-size: cover;
  color: #fff;

  &-logo {
    position: absolute;
    top: 0;
    left: 20px;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 60px;
    font-weight: 800;
    line-height: 36px;
    color: #fff;

    &:link, &:visited &:active {
      opacity: 1;
    }

    &:hover {
      color: $theme-color-base;
    }
  }

  &-navbars-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 99;
    display: none;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #fff;

    &:hover {
      color: $theme-color-base;
    }
  }

  &-navbar {
    position: absolute;
    top: 0;
    right: 20px;
    width: 400px;
    height: 60px;

    &-item {
      float: left;
      display: inline-block;
      padding: 12px 15px;
      width: 100%;
      max-width: 130px;
      height: 60px;
      font-weight: 600;
      line-height: 36px;
      text-align: center;
      color: #fff;

      &:hover {
        color: $theme-color-base;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 16px;
  text-align: center;
  background-color: #000;
  color: #fff;
}

.lkh-pages {
  position: relative;
  height: 30px;

  &-item {
    display: inline-block;
    border-radius: 3px;
    width: 95px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background-color: $theme-color-base;
    color: #fff;
  }

  &-perv {
    position: absolute;
    top: 0;
    left: 10px;
  }

  &-next {
    position: absolute;
    top: 0;
    right: 10px;
  }

  &-number {
    position: absolute;
    top: 0;
    left: 50%;
    display: inline-block;
    margin-left: -50px;
    width: 100px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #ccc;
  }

  &-current {
    color: $theme-color-base;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 200px;

    &-navbars-icon {
      display: inline-block;
    }

    &-navbar {
      top: 15px;
      right: 50px;
      display: none;
      width: 100px;
      height: 90px;

      &-item {
        float: none;
        padding: 0;
        height: 30px;
        line-height: 30px;
      }
    }
  }
}