@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  font-family: "-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif";
  font-size: 12px;
  line-height: 1.36;
  background-color: #fff;
  user-select: none;
  color: #222;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: white;
  -webkit-backface-visibility: hidden;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
template {
  display: none;
}

/* block */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

summary {
  display: list-item;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figure {
  margin: 1em 40px;
}

ol, ul, dd {
  margin-left:0;
  padding-left:0;
  list-style: none;
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Forms */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  line-height: 1.15;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  display: table;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  white-space: normal;
  color: inherit;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  *overflow: visible;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input:focus {
  outline: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* inline */
select,
input,
img,
select {
  vertical-align: middle;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline: 0;
}

i {
  font-style: normal;
}

img {
  display: inline-block;
  border: none;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

hr {
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

summary {
  display: list-item;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}
/* multimedia */
canvas,
audio,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

/* selector */
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* placeholder */
::placeholder {
  color: #cecece;
  font-size: 14px;
}
::-webkit-input-placeholder {
  color: #cecece;
  font-size: 14px;
}
::-moz-placeholder {
  color: #cecece;
  font-size: 14px;
}
:-ms-input-placeholder {
  color: #cecece;
  font-size: 14px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track-piece {
    background: #eee;
}
::-webkit-scrollbar-thumb:vertical {
    background: #666;
}

/* compatibility */
[hidden] {
  display: none;
}
