[v-cloak] {
  display: none
}

.theme-color {
  color: #9489ff;
}
.white-color {
  color: #fff;
}
.black-color {
  color: #000;
}

.theme-bg-color {
  background-color: #fff;
}
.white-bg-color {
  background-color: #fff;
}
.black-bg-color {
  background-color: #000;
}

.img-circle {
  border-radius: 50%;
}

.box-sizing {
  box-sizing: border-box;
}
.hoverhands {
  cursor: pointer;
}

.one-line {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}




