---
layout: default
---

<section class="container home-container lkh-clear">
  <section class="home-content">
    <ul class="home-articles">
      {% for page in paginator.posts %}
        <li class="home-articles-item">
          <a href="{{ page.url | prepend: site.baseurl }}" class="home-articles-title">{{ page.title }}</a>
          <p class="home-articles-introduction">{{ page.content | strip_html | truncate:300 }}</p>

          <p class="home-articles-info home-articles-if">
            <span class="home-articles-info-time">{{ page.date | remove: ' +0800' }}</span>|
            {% for tag in page.tags %}
              <span class="home-articles-info-tags">{{ tag }}</span>
            {% endfor %}
          </p>

          <p class="home-articles-info home-articles-else">{{ page.date | remove: ' +0800' }}</p>
          <p class="home-articles-info home-articles-else">{% for tag in page.tags %} {{ tag }} {% endfor %}</p>
        </li>
      {% endfor %}
    </ul>

    <!-- 分页 -->
    {% include pagination.html %}
  </section>

  <!-- 侧边栏 -->
  {% include sidebar.html %}
</section>