---
layout: default
---

<section class="container articles-container lkh-clear">
  <section class="articles-content">
    <p class="articles-content-tags">
      {% for tag in page.tags %}
      <a class="articles-content-tag" href="{{ site.baseurl }}/archives/?tag={{ tag }}" title="{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </p>
    <h1 class="articles-content-title">{{ page.title }}</h1>
    <p class="articles-content-info">Article by {{ site.author.name }} on {{ page.date | remove: ' +0800' }}</p>
    {{ content }}
  </section>
</section>